.table-full-w
{
    width: 100%;
}
.td-table
{
    padding: 4px;
}
td-tablex2
{
    padding-left: 8px;
    padding-right: 8px;
}
.location_id_report    
{
    max-width: 884px!important;
}
.full
{
    width: 100%;
    display: block;
}